<h2> Valideren van dit document </h2>
<table>
    <tr>
        <td>
            <p>
                Dit document betreft een digitaal waardepapier conform de standaard digitale waardepapieren van de nederlandse overheid. Het document is derhalve te controleren aan de hand van de rechts afgebeelde QR code. Ga hiervoor naar de appstore en download de app Waardepapieren NL. U kunt via deze app het waardepapier controleren.
            </p>
            <p>
                Als alternatief kunt u naar www.waardepapier-controleren.nl gaan met uw mobiele telefoon en op waardepapier controleren drukken.
            </p>
        </td>
        <td width="400px"><img src="{{ qr }}" width="100%" /></td>
    </tr>
</table>
