<table>
    <tr>
        <td>Namens het gemeentebestuur <br />
            de aangewezen ambtenaar,</td>
        <td>Datum {{ "now"|date("Y-m-d") }}</td>
    </tr>
</table>

<p>
    Leges conform <a href="https://decentrale.regelgeving.overheid.nl/cvdr/XHTMLoutput/Actueel/Hoorn/CVDR632705.html">gem. legesverordening </a>
</p>
