<h1> Uitreksel Basisregistratie Personen</h1>

<p>
    Uit de basisregistratie personenen van de gemeente Hoorn blijkt dat daarin is opgenomen:
</p>

<p>
<table>
    <tr>
        <td><b>Naam</b></td>
        <td> </td>
    </tr>
    <tr>
        <td> <b>Voornamen</b></td>
        <td> </td>
    </tr>
    <tr>
        <td><b>Geboren</b></td>
        <td> </td>
    </tr>
    <tr>
        <td><b>Wonende te</b></td>
        <td> </td>
    </tr>
    <tr>
        <td><b>Burgelijke staat</b></td>
        <td> </td>
    </tr>
    <tr>
        <td><b>BSN</b></td>
        <td> </td>
    </tr>
</table>
</p>
